
<!DOCTYPE html>
<html>
<head>
    <meta name="csrf-token" content="Y5QoEZjc6BQV53AHzReTonAbO6H6hY7cRv0leRjr">
    <meta charset="UTF-8">
    <title></title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://www.wanderly.us/css/app.35c7ba441057e4263e5a.css">
    <script type="text/javascript">
            </script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key="></script>
            
          </script>  
            
          <style>
              body  {
              background-image: url("https://cdn.pixabay.com/photo/2018/03/23/10/47/decoration-3253360_1280.jpg");
              background-size:cover;
          } 
        </style>      
</head>

<body id="nurse">
  <main class="wanderly">
                <nav class="navbar navbar-default hidden-xs guest">
    <div class="container-fluid navbar-container home-width">
        <div class="row">
            <div class="navbar-header col-sm-offset-1 col-sm-4 col-md-3 col-md-offset-1">
                <div class="navbar-brand">
                     <a href="/chocolate/app.php/browsePage">
                     <h2> Candy Cravers</h2> 

                     
                    
                    </a>
                    
                  </div>
            </div>
                            <div class="group col-sm-7 col-md-7 col-md-offset-1 col-lg-offset-2 col-lg-6">
                            <ul class="nav navbar-nav guest-links">
                                
                                
                Candy has always been a part of our lives. Ryan and I both have many candy-related stories.
               I remember the assorted bon bons my grandmother used to have in her antique crystal candy jar back in Kentucky.



               They were the most colorful candies I'd ever seen and they sat like royalty up on the shelf, just out of reach. It was the first place I always went as soon as I came in the door.
              I'd just whiz by grandma and go straight for the candy! I used to walk over to see my aunt solely because she had the really good Dubble Bubble bubble gum at her house. 
              She totally called me out on it in front of my friend one time. 
              Haha! Sure, I felt bad, but I had captured my daily candy treasure. Then, when I was a little older, I met my one true love, dark chocolate.
                              
              It was a cool autumn day in the early-1990s and the sun was about to set. My mom had just finished in the grocery and presented to me what would become a lifelong obsession, a full bar of dark chocolate.
              She told me to eat it slowly, taking only small bites.
             That was the beginning. Dark chocolate, to me, is like a fine wine. It has subtle fruity aspects and a smooth texture that is completely lost in the creaminess of milk chocolate. 
              
                              
              
            </div>
        </div>
    </div>
</nav>
      
          
